1. What are data structures, and why are they important?
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
- Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.
- they are important because:

 - Choosing the right data structure significantly impacts the efficiency and performance of your program.
 - Well-chosen data structures can:
 - Simplify data manipulation (adding, removing, modifying elements)
 - Optimize searching and sorting operations.
 - Conserve memory usage.

2. Explain the difference between mutable and immutable data types with examples.
 - Mutable types can be changed after creation. Example: list, dict, set
 - Immutable types cannot be changed after creation. Example: int, str, tuple.

3. What are the main differences between lists and tuples in Python?
 - lists are mutable and tuples are immutable
 - lists having dynamic data whcih can be change accordingly and tuples are having fixed which cant be changed.

4. Describe how dictionaries store data.
 - Dictionaries store data as key-value pairs.

5. Why might you use a set instead of a list in Python?
- Sets are useful when:
 - You need unique elements (they automatically remove duplicates).
 - You want faster membership checks (in operator is faster in sets than in lists).

6. What is a string in Python, and how is it different from a list?
 - A string is an immutable sequence of characters. Unlike lists, strings:
 - Canâ€™t be modified.
 - Only store characters, while lists can store various data types.

7. How do tuples ensure data integrity in Python?
- Tuples are immutable, meaning their contents cannot be altered. This makes them ideal for:
 - Ensuring fixed values.
 - Being used as dictionary keys.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, allowing for constant-time average lookup.

9. Can lists contain different data types in Python?
- Yes. Lists in Python can store mixed data types, such as integers, strings, and even other lists.

10. Explain why strings are immutable in Python.
- Strings are immutable to:
 - Enhance security (safe to share).
 - Improve performance through memory optimization.
 - Allow use as keys in dictionaries (must be hashable).

11. What advantages do dictionaries offer over lists for certain tasks?
 - Faster lookups using keys.
 - Better for mapping relationships (e.g., student ID to name).
 - More efficient for search-heavy operations.

12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when storing:
 - Coordinates (x, y)
 - Function return values
 - Configuration constants.

13. How do sets handle duplicate values in Python?
- Sets automatically eliminate duplicates. Adding a duplicate value has no effect.

14. How does the in keyword work differently for lists and dictionaries?
- In lists, in checks if a value exists.
- In dictionaries, in checks for the key only, not the value.

15. Can you modify the elements of a tuple? Explain why or why not.
- No, tuples are immutable. Once created, their elements cannot be changed, added, or removed. This ensures consistency and enables safe use as keys.

16. What is a nested dictionary, and give an example of its use case.
- A nested dictionary is a dictionary where values are themselves dictionaries.
- Example use case: Storing student data by ID and enployee data by employee ID.

17. Describe the time complexity of accessing elements in a dictionary.
 - Average case: O(1) (constant time)
 - Worst case: O(n) (rare, due to hash collisions)

18. In what situations are lists preferred over dictionaries?
- Use lists when:
 - Order matters.
 - we only need values, not key-value pairs.
 - Index-based access is required.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- dictionaries are unordered. but from Python 3.7 version, dictionaries retain the order of insertion.
- This means that if you iterate over a dictionary, the items will be returned in the order they were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- List: Access by index (position). example: my_list[0]
- Dictionary: Access by key (identifier). example: my_dict["key"]

#practical questions

In [13]:
#1 Write a code to create a string with your name and print it.
name = "Rao Anand Singh"
print("my name is", name)

my name is Rao Anand Singh

In [14]:
#2 Write a code to find the length of the string "Hello World
a = "hello world"
len(a)

11

In [15]:
#3 Write a code to slice the first 3 characters from the string "Python Programming.
b = "python programming"
b[0:3]

'pyt'

In [16]:
#4 Write a code to convert the string "hello" to uppercase.
text = "hello"
text.upper()

'HELLO'

In [17]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
string1 = "I like apple"
string1.replace("apple", "orange")

'I like orange'

In [18]:
from re import L
#6 Write a code to create a list with numbers 1 to 5 and print it.
number = [1, 2, 3, 4, 5]
print("the list is ", number)

the list is  [1, 2, 3, 4, 5]

In [19]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4]
number1 = [1, 2, 3, 4]
number1.append(10)
number1

[1, 2, 3, 4, 10]

In [20]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
list2

[1, 2, 4, 5]

In [21]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
a = ['a', 'b', 'c', 'd']
a[1]

'b'

In [22]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
l[::-1]

[50, 40, 30, 20, 10]

In [23]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [24]:
#12 Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
color = ('red', 'green', 'blue', 'yellow')
color[-2]

'blue'

In [25]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15)
number1 = (10, 20, 5, 15)
min(number1)

5

In [26]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
animals.index("cat")

1

In [27]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruit = ("apple", "kiwi", "banana")
"kiwi" in fruit

True

In [28]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [29]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}
s.clear()
s

set()

In [30]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1 = {1, 2, 3, 4}
s1.discard(4)
s1

{1, 2, 3}

In [31]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1 | set2

{1, 2, 3, 4, 5}

In [32]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1 & set2

{2, 3}

In [33]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it
info1 = {"name":"rao anand singh", "age":21, "city":"mumbai"}
print(info1)

{'name': 'rao anand singh', 'age': 21, 'city': 'mumbai'}

In [34]:
#22 . Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
info2 = {'name': 'John', 'age': 25}
info2["country"] = "USA"
info2

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
info3 = {'name': 'Alice', 'age': 30}
info3["name"]

'Alice'

In [36]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
info4 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
info4.pop("age")

22

In [37]:
info4

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
set2 = {'name': 'Alice', 'city': 'Paris'}

In [39]:
if "city" in set2:
  print("city exist")
else:
  print("city not exist")

city exist

In [40]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all
list1 = [1, 2, "anand", "apple"]
tuple1 = (3, 4, 5, "contact")
dict1 = {"name":"allsion", "age":25, "contact":12345}
print("list:", list1, "tuple:", tuple1, "dict:", dict1)

list: [1, 2, 'anand', 'apple'] tuple: (3, 4, 5, 'contact') dict: {'name': 'allsion', 'age': 25, 'contact': 12345}

In [41]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list1 = [40, 30, 80, 90, 85]
list1.sort()
list1

[30, 40, 80, 85, 90]

In [42]:
#28 Write a code to create a list with strings and print the element at the third index
list2 = ['anand', 'guava', 'apple', 'grocery', 'mango']
list2[3]

'grocery'

In [43]:
#29 Write a code to combine two dictionaries into one and print the result.
dict1 = {"name":"anand", "age":23, "city":"udaipur"}
dict2 = {"contact": 87654321, "email":"asdfg@gmail.com"}
dict3 = {**dict1, **dict2}
print(dict3)

{'name': 'anand', 'age': 23, 'city': 'udaipur', 'contact': 87654321, 'email': 'asdfg@gmail.com'}

In [44]:
#30 Write a code to convert a list of strings into a set
list1 = ['apple', 'banana', 'guava', 'watermelon']

In [45]:
s = set(list1)

In [46]:
s

{'apple', 'banana', 'guava', 'watermelon'}